:root {
  --stripe-1: #fdc111; /* yellow */
  --stripe-2: #00ad5e; /* green */
  --stripe-3: #d33136; /* red */
  --stripe-4: #8f3192; /* purple */
}

.menu {
  text-align: center;
  padding: 1rem;

  background: linear-gradient(
    to right,
    var(--stripe-1) 0 25%,
    var(--stripe-2) 25% 50%,
    var(--stripe-3) 50% 75%,
    var(--stripe-4) 75%
  );

  .menu-title {
    color: rgba(253, 254, 255, 0.9);
    font-size: 5.25rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 10px rgba(100, 100, 111, 0.8);
  }

  .menu-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .menu-legend {
    display: flex;
    width: calc(80% - 0.5rem);
    justify-content: space-around;
    align-items: center;
    background: rgba(253, 254, 255, 0.85);
    padding: 0.25rem;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.8) 0px 1px 10px 0px;
  }
  .menu-legend-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  //TODO: WE NEED TO REFACTOR SVGS to allow changing height and width
  .menu-legend-item-logo {
    width: 18px;
    height: 18px;
  }
  .menu-legend-item-text {
    font-size: 0.5rem;
    padding-left: 0.25rem;
    color: #6b6b6b;
  }
}
