$yellow: #fdc111; /* yellow */
$green: #00ad5e; /* green */
$red: #d33136; /* red */
$purple: #8f3192; /* purple */

.menu-section {
  display: inline-block;
  margin: 0.2rem;
  width: 80%;

  & > * {
    background: rgba(253, 254, 255, 0.85);
    color: #6b6b6b;
  }

  .section-header {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    padding: 0;
    // height: calc(25% - 0.2rem);
  }

  .section-items {
    padding: 0.25rem 0.5rem;
  }
}

.menu-section {
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 1px 10px 0px;
}

.menu-section-yellow:hover {
  transform: scale(1.2);
  background: $yellow;
}

.menu-section-green:hover {
  transform: scale(1.2);
  background: $green;
}

.menu-section-red:hover {
  transform: scale(1.2);
  background: $red;
}

.menu-section-purple:hover {
  transform: scale(1.2);
  background: $purple;
}

@media only screen and (min-width: 768px) {
  .menu-section {
    width: 40%;
  }
}
