nav {
  background: white;
  font-size: 2rem;
  width: 100vw;
  padding: 0.25rem 0;
  border-bottom: 1px solid lightgray;
  box-shadow: rgba(100, 100, 111, 0.2) 10px 1px 5px 0px;
}

.nav-logo {
  width: 6rem;
  display: block;
  margin: auto;
}
